<!--Project done by:
    Satya Nilamegam Kumaran - C0886405
    Mani Rathna Reddy Bellamkonda - C0887487
    Karthik Saride - C0886429
    Ravi Varman Ravichandran - C0885920
This app allows a user to signup and login.-->
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
</head>

<body>
    <p>sales person Home page</p>
</body>

</html>